.about {
    background: var(--second-bcg-color);
    padding-top: 125px;
}

.about-wrap {
    display: block;
    margin-top: 26px;
    background-image: url(../images/about/bg-milk-mob.png);
    background-repeat: no-repeat;
    background-position: center bottom 60px;
    background-size: 320px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/about/bg-milk-mob-x2.png);
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        margin-top: 55px;
    }
}

.about__pretitle {
    font-family: 'Titan One', cursive;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--hero-ring-color);
    text-align: center;
    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.about__title {
    font-family: 'Titan One', cursive;
    width: 200px;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media screen and (min-width: 1280px) {
        width: auto;
        font-size: 58px;
        line-height: 1.13;
        letter-spacing: 0.06em;
    }
}

.about__picture {
    width: 516px;
    height: auto;
    margin-right: 74px;
}

.about__text-wrap {
    width: 220px;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
}

.about__text-one {
    font-size: 12px;
    line-height: 1.58;
    color: var(--third-text-color);
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.75;
    }
}

.about__text-two {
    font-size: 12px;
    line-height: 1.58;
    color: var(--primary-text-color);
    margin-top: 47px;
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.75;
        margin-top: 35px;
    }
}

.about__button {
    width: 176px;
    height: 44px;
    background: var(--secondary-text-color);
    border-style: none;
    border-radius: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: var(--accent-color);
    margin-top: 47px;
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.31;
    }
}

.about__icon {
    color: var(--accent-color);
    margin-left: 14px;
}
