.about {
    background: var(--second-bcg-color);
    padding-top: 125px;
    background-image: url(../images/background-milk.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about-wrap {
    display: flex;
    margin-top: 55px;
}

.about__pretitle {
    font-family: 'Titan One', cursive;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--hero-ring-color);
    text-align: center;
}

.about__title {
    font-family: 'Titan One', cursive;
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}

.about__picture {
    width: 516px;
    height: auto;
    margin-right: 74px;
}

.about-text-wrap {
    display: block;
}

.about__text-one {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    color: var(--third-text-color);
    padding-top: 51px;
}

.about__text-two {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.92;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
    margin-top: 35px;
}

.about__button {
    width: 176px;
    height: 44px;
    background: var(--secondary-text-color);
    border-style: none;
    border-radius: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: var(--accent-color);
    margin-top: 45px;
}

.about__icon {
    color: var(--accent-color);
    margin-left: 14px;
}
