.advantages {
    background: var(--second-bcg-color);
    padding-top: 39px;
    padding-bottom: 145px;
}

.advantages__list {
    display: block;
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
    }
}

.advantages__item {
    width: 330px;
    &:not(:last-child) {
        margin: 0 0 38px 0;
        @media screen and (min-width: 1280px) {
            margin: 0 30px 0 0;
        }
    }
}

.advantages__item-one::before {
    content: url('../images/icecream1.png');
    display: block;
    margin-bottom: 16px;
}

.advantages__item-two::before {
    content: url('../images/icecream2.png');
    display: block;
    margin-bottom: 40px;
}

.advantages__item-three::before {
    content: url('../images/icecream3.png');
    display: block;
    margin-bottom: 40px;
}

.advantages__title {
    font-family: Titan One;
    font-size: 36px;
    line-height: 1.13;
    color: var(--accent-color);
    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 1.13;
    }
}

.advantages__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    margin-top: 15px;
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.75;
    }
}
