header {
    background-color: transparent;
    position: absolute;

    width: 100%;
}

.header-logo {
    @media screen and (min-width: 768px) {
        margin-left: 19px;
    }
    @media screen and (min-width: 1280px) {
        margin-left: 31px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    padding-top: 6px;
    @media screen and (min-width: 768px) {
        padding-top: 37px;
    }
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-buy-svg {
    margin-left: 14px;
}

.header-nav {
    @media screen and (max-width: 1279px) {
        padding-left: 20px;
    }
}

.header-nav__item {
    @media screen and (max-width: 1279px) {
        height: 42px;
    }
}

@media screen and (max-width: 1279px) {
    .header-nav__item {
        border-top: 1px solid #e18298;
        &:last-child {
            border-bottom: 1px solid #e18298;
        }
    }
}

.header-nav__item:not(:last-child) {
    @media screen and (min-width: 1280px) {
        margin-right: 35px;
    }
}

.header-nav__link {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    color: #ffffff;

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.31;
    }
}

@media screen and (min-width: 1280px) {
    .menu-toggle {
        display: none;
    }
}

.icon-menu {
    margin: 0px;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        margin-left: 291px;
    }
}

@media screen and (max-width: 1279px) {
    .icon-menu-close {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 23px;
        padding-bottom: 23px;
        padding-right: 28px;
    }
}

.menu-container {
    z-index: 2;
}

@media screen and (max-width: 1279px) {
    .menu-container {
        position: relative;
        padding-top: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .menu-container {
        margin-left: 110px;
    }
}

@media screen and (max-width: 1279px) {
    .menu-container {
        background-color: #e17992;
        position: fixed;
        top: 0;
        right: 0;
        width: 254px;
        height: 100%;
        overflow-y: scroll;
        transform: translateX(100%);
        transition: transform 250ms;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

@media screen and (max-width: 1279px) {
    .menu-container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1280px) {
    .menu-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1280px) {
    .header-nav__list {
        display: flex;
    }
}

.btn-buy {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    padding: 0px;
    border: 0px;

    width: 209px;
    height: 44px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: #d41443;
    background: #ffffff;
    border-radius: 22px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1280px) {
        margin: 0;
        width: 159px;
        height: 44px;
        margin-left: 110px;
    }
}

.btn-buy:hover,
.btn-buy:focus {
    background: #ecebeb;
}

.header-button {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.btn-buy-tablet {
    margin-left: 30px;
    padding: 0px;
    border: 0px;

    width: 160px;
    height: 44px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: #d41443;
    background: #ffffff;
    border-radius: 22px;
}

.menu-container {
    @media screen and (min-width: 1280px) {
        display: flex;
        flex-direction: row-reverse;
    }
}
