.hero {
    background-color: #ffb8ca;
    overflow: hidden;
}

.hero__container {
    position: relative;
    display: flex;
    height: 502px;

    @media screen and(min-width: 768px) {
        height: 399px;
        flex-direction: column;
    }
    @media screen and(min-width: 1280px) {
        height: 665px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 345px;
        height: 345px;
        border-radius: 50%;
        z-index: 0;
        background-color: #ffa5ba;
        left: 50%;
        transform: translateX(-40%);
        bottom: 75px;
        animation-name: scaleCloserMobile;
        animation-duration: 1000ms;
        animation-delay: 0ms;

        @media screen and(min-width: 768px) {
            width: 322px;
            height: 322px;
            bottom: 46px;
            left: 307px;
            animation-name: scaleCloser;
            transform: translateX(0);
        }
        @media screen and(min-width: 1280px) {
            width: 538px;
            height: 538px;
            bottom: 75px;
            left: 475px;
        }
    }
}

.hero-icecream-img {
    position: absolute;
    z-index: 5;
    height: 410px;
    left: 50%;
    bottom: 0;
    transform: translateX(-25%);
    animation-name: moveUpMobile;
    animation-duration: 700ms;
    animation-duration: 500ms;
    @media screen and(min-width: 768px) {
        height: 336px;
        left: 378px;
        animation-name: moveUp;
        transform: translateX(0);
    }
    @media screen and(min-width: 1280px) {
        height: 557px;
        left: 594px;
    }
}

.hero-title-box {
    z-index: 10;
    width: 220px;
    @media screen and (min-width: 768px) {
        width: 162px;
    }
    @media screen and (min-width: 1280px) {
        width: 280px;
    }
}

.hero-title {
    font-family: Titan One;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #ffffff;

    @media screen and (min-width: 320px) {
        padding-top: 193px;
        margin-bottom: 19px;
        width: 218px;
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (min-width: 768px) {
        padding-top: 102px;
        margin-left: 19px;
        margin-bottom: 20px;
        width: 162px;
        font-size: 22px;
        line-height: 1.36;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 170px;
        margin-left: 100px;
        margin-bottom: 25px;
        width: 277px;
        font-size: 38px;
        line-height: 1.15;
    }
}

.hero-title-passion {
    color: #d41443;
    font-size: 48px;
    line-height: 0.95;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 0.91;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 0.89;
    }
}

.hero-btn-list {
    display: flex;
    @media screen and (min-width: 768px) {
        margin-left: 19px;
    }
    @media screen and (min-width: 1280px) {
        margin-left: 100px;
    }
}

.hero-btn-item:not(:last-child) {
    @media screen and (min-width: 320px) {
        margin-right: 8px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 15px;
    }
}

.hero-button-products {
    font-family: DM Sans;
    font-weight: 400;
    color: #ffffff;
    background-color: #d41443;
    border-radius: 20px;

    @media screen and (min-width: 320px) {
        width: 62.4px;
        height: 24px;
        font-size: 8px;
        line-height: 1.25;
    }

    @media screen and (min-width: 1280px) {
        width: 102px;
        height: 40px;
        font-size: 14px;
        line-height: 1.28;
    }
}

.hero-button-howits {
    font-family: DM Sans;
    font-weight: 400;
    color: #d41443;
    background-color: #ffffff;
    border-radius: 20px;

    @media screen and (min-width: 320px) {
        width: 82.8px;
        height: 24px;
        font-size: 8px;
        line-height: 1.25;
    }

    @media screen and (min-width: 1280px) {
        width: 138px;
        height: 40px;
        font-size: 14px;
        line-height: 1.28;
    }
}

.hero-text-block {
    font-family: DM Sans;
    font-weight: 400;
    width: 117px;
    color: #ffffff;
    font-size: 8px;
    line-height: 1.5;

    @media screen and (min-width: 1280px) {
        width: 200px;
        font-size: 14px;
        line-height: 1.42;
    }
}

.hero-milk-box {
    display: none;
    z-index: 10;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 19px;
        align-items: flex-end;
        width: 240px;
    }
    @media screen and (min-width: 1280px) {
        width: 420px;
        margin-left: 62px;
    }
}

.hero-milk-img {
    width: 125px;
    height: 125px;
    @media screen and (min-width: 1280px) {
        width: 190px;
        height: 190px;
    }
}

.hero-milk-box__button-circle {
    margin-top: 7px;
    @media screen and (min-width: 1280px) {
        margin-top: 20px;
    }
}

.button-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 300ms;
    &:hover,
    &:focus-visible {
        background-color: #ecebeb;
        color: #ffffff;
    }
}

.button-circle--small {
    width: 16px;
    height: 16px;

    @media screen and (min-width: 1280px) {
        width: 26px;
        height: 26px;
    }
}

.svg-arrow {
    padding-left: 2px;
    padding-right: 2px;
}

.cont {
    display: none;
}

.tooltip {
    z-index: 10;
    position: fixed;
    padding: 5px 10px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    @media screen and (max-width: 1280) {
        display: none;
    }
}

.hero-girl-img {
    display: none;
    @media screen and (min-width: 768px) {
        position: absolute;
        z-index: 5;
        display: block;
        width: 168px;
        bottom: 0;
        right: 19px;
    }
    @media screen and (min-width: 1280px) {
        width: 293px;
        right: 109px;
    }
}

.hero-numbers-list {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 34px;
        top: 100px;
    }
    @media screen and (min-width: 1280px) {
        top: 160px;
        right: 97px;
    }
}

.hero-numbers-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 50px;
    @media screen and (min-width: 1280px) {
        flex-basis: 70px;
    }
}

.hero-numbers-item:not(:last-child) {
    margin-bottom: 5px;
    @media screen and (min-width: 1280px) {
        margin-bottom: 20px;
    }
}

.hero-numbers {
    z-index: 10;
    font-family: 'Titan One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @media screen and (min-width: 1280px) {
        font-size: 46px;
    }
    color: #d41443;
    &::before {
        content: '';
        position: absolute;
        z-index: -5;
        top: -2px;
        right: -8px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        @media screen and (min-width: 1280px) {
            width: 30px;
            height: 30px;
            top: -5px;
            right: -15px;
        }
        background-color: #ffffff;
    }
}

.hero-numbers-label {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    letter-spacing: 0.04em;
    @media screen and (min-width: 1280px) {
        font-size: 14px;
    }
    color: #ffffff;
}
@keyframes moveUp {
    0% {
        transform: scale(0.5) translateY(100%);
    }
    100% {
        transform: scale(1) translateY(0%);
    }
}
@keyframes moveUpMobile {
    0% {
        transform: scale(0.5) translateY(100%) translateX(-25%);
    }
    100% {
        transform: scale(1) translateY(0%) translateX(-25%);
    }
}
@keyframes scaleCloser {
    0% {
        transform: scale(3) translateX(0%);
    }
    100% {
        transform: scale(1) translateX(0%);
    }
}
@keyframes scaleCloserMobile {
    0% {
        transform: scale(3) translateX(0%);
    }
    100% {
        transform: scale(1) translateX(-40%);
    }
}
