<section class="howmade">
    <div class="container">
        <p class="howmade__pretitle">tradition and love</p>
        <h2 class="howmade__title">how it’s made?</h2>
        <div class="howmade-wrap">
            <img class="howmade__picture" src="./images/cow.png" alt="cow and bottle with milk" />
            <div class="howmade__text-wrap">
                <p class="howmade__text-one">
                    Наши коровы полностью привиты и имеют зелёные сертификаты в додатке Дия. Все
                    коровы-антиваксеры были переведены на другую работу (на фирму Мясная Гильдия).
                </p>
                <p class="howmade__text-two">
                    Это значит, что потребляя продукцию нашей фирмы, Вы получаете все необходимые
                    Вашему организму микроэлементы и антитела. Наше мороженное сделано из молока,
                    обогащённого компонентами Пфайзер.
                    <br />
                    <br />
                    Уже съели две порции? Купите ещё одну, бустерную :)
                </p>
                <button type="button" class="howmade__button">
                    Read more
                    <svg class="howmade__icon" width="10px" height="10px">
                        <use href="images/icons.svg#icon-button-vector"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="massa">
    <div class="container">
        <ul class="massa__list">
            <li class="massa__item massa__item-one">
                <p class="massa__title">721</p>
                <p class="massa__text">
                    К нам можно доехать из любой точки города на маршрутке с данным номером
                </p>
            </li>
            <li class="massa__item massa__item-two">
                <p class="massa__title">16kg</p>
                <p class="massa__text">Наши предложения - Ваши прибавления!</p>
            </li>
            <li class="massa__item massa__item-three">
                <p class="massa__title">84</p>
                <p class="massa__text">
                    Любимая цифра Джорджа Оруэлла, писателя ныне актуального, как никогда
                </p>
            </li>
        </ul>
    </div>
</section>
