<section class="contact-container container">
    <h1 class=""></h1>
    <!----Chicago----->
        <div class="contact__list">
            <span>CAFE</span>
                <ul>
                    <li>
                        <h2>Chicago</h2>
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li>
                        <h2>Monday - Friday</h2>
                            <p>06:00 AM - 10:00 PM</p>
                        <h2>Saturday - Sunday</h2>
                            <p>08:00 AM - 16:00 PM</p>
                    </li>
                    <li>
                        <p>+61(0) 383 766 284 </p>
                        <p>noreply@envato.com</p>
                    </li>
                </ul>
        </div>

    <!----Los Angeles----->
        <div class="contact__list">
            <span>FOOD TRUCK</span>
            <ul>
                <li>
                    <h2>Los Angeles</h2>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li>
                    <h2>Monday - Friday</h2>
                    <p>06:00 AM - 10:00 PM</p>
                    <h2>Saturday - Sunday</h2>
                    <p>08:00 AM - 16:00 PM</p>
                </li>
                <li>
                    <p>+61(0) 383 766 284 </p>
                    <p>noreply@envato.com</p>
                </li>
            </ul>
        </div>

    <!----New York----->
        <div class="contact__list">
            <span>CAFE</span>
            <ul>
                <li>
                    <h2>New York</h2>
                    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li>
                    <h2>Monday - Friday</h2>
                    <p>06:00 AM - 10:00 PM</p>
                    <h2>Saturday - Sunday</h2>
                    <p>08:00 AM - 16:00 PM</p>
                </li>
                <li>
                    <p>+61(0) 383 766 284 </p>
                    <p>noreply@envato.com</p>
                </li>
            </ul>
        </div>
        <button>Our Locations</button>
        <button>Franchise</button>
</section>