
<section class="contact-section ">
    <h2 class="visually-hidden">contact</h2>
    <div class="contact-container container">
    <!----Chicago----->
        <div class="contact-list__card">
            <p class="contact-list__caption caption-cafe">CAFE</p>
                <ul class="contact-list__list list">
                    <li class="contact-list__subject">
                        <h2 class="contact-list__desc">Chicago</h2>
                            <p class="contact-list__text decor_elements"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contact-list__subject">
                        <h2 class="contact-list__desc">Monday - Friday</h2>
                            <p class="contact-list__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contact-list__subject">
                        <h2 class="contact-list__desc">Saturday - Sunday</h2>
                            <p class="contact-list__time decor_elements">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contact-list__subject">
                        <a class="contact-list__adress link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contact-list__adress link">noreply@envato.com</a>
                    </li>
                </ul>
        </div>

    <!----Los Angeles----->
        <div class="contact-list__card">
            <p class="contact-list__caption caption-truck ">FOOD TRUCK</p>
                <ul class="contact-list__list list">
                    <li class="contact-list__subject">
                        <h2 class="contact-list__desc">Chicago</h2>
                        <p class="contact-list__text decor_elements"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contact-list__subject">
                        <h2 class="contact-list__desc">Monday - Friday</h2>
                        <p class="contact-list__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contact-list__subject">
                        <h2 class="contact-list__desc">Saturday - Sunday</h2>
                        <p class="contact-list__time decor_elements">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contact-list__subject">
                        <a class="contact-list__adress link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contact-list__adress link">noreply@envato.com</a>
                    </li>
                </ul>
        </div>

    <!----New York----->
        <div class="contact-list__card">
            <p class="contact-list__caption caption-cafe">CAFE</p>
                <ul class="contact-list__list list">
                    <li class="contact-list__subject">
                        <h2 class="contact-list__desc">Chicago</h2>
                        <p class="contact-list__text decor_elements"> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contact-list__subject">
                        <h2 class="contact-list__desc">Monday - Friday</h2>
                        <p class="contact-list__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contact-list__subject">
                        <h2 class="contact-list__desc">Saturday - Sunday</h2>
                        <p class="contact-list__time decor_elements">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contact-list__subject">
                        <a class="contact-list__adress link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contact-list__adress link">noreply@envato.com</a>
                    </li>
                </ul>
        </div>
    </div>
    <div class="contact-button">
        <button type="button" class="contact-list__button button-locations button">Our Locations
            <svg class="contact-list__icon" width="5" height="8">
                <use href="./images/contact.svg#icon-Vector-2"></use>
            </svg>
        </button>
        <button type="button" class="contact-list__button button-franchise button">Franchise
            <svg class="contact-list__icon" width="5" height="8">
                <use href="./images/contact.svg#icon-Vector-1"></use>
            </svg>
        </button>
    </div>
        </section>