<section class="customer-review customer-review_padding container">

    <ul class="customer-review-slider" >
        <li class="customer-review-slider__item">
            <div>
                <picture>
                    <source
                        srcset="/images/icecream-testimonials/testimonials1-x1.png 1x, /images/icecream-testimonials/testimonials1-x2.png 2x">
                    <img class="customer-review-slider__img" src="/images/icecream-testimonials/testimonials1-x1.png" alt="sd">
                </picture>

                <div class="customer-review-slider__wrapper">
                <p class="customer-review-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>

                <div class="customer-review-slider__name-city-wrapper" >
                    <p class="customer-review-slider__name-city" >
                        Emily, Los Angeles
                    </p>
                </div>
            </div>
        </li>
        <li class="customer-review-slider__item" >
            <picture>
                <source
                    srcset="/images/icecream-testimonials/testimonials2-x1.png 1x, /images/icecream-testimonials/testimonials2-x2.png 2x">
                <img class="customer-review-slider__img" src=" /images/icecream-testimonials/testimonials2-x1.png" alt="portrai">
            </picture>
            <div class="customer-review-slider__wrapper">
                <p class="customer-review-slider__text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, dolorum!</p>
            </div>
            <div class="customer-review-slider__name-city-wrapper">
                <p class="customer-review-slider__name-city">
                    Undina, Miami
                </p>
            </div>
        </li>
        <li class="customer-review-slider__item" >
            <picture>
                <source
                    srcset="/images/icecream-testimonials/testimonials3-x1.png 1x, /images/icecream-testimonials/testimonials3-x2.png 2x">
                <img class="customer-review-slider__img" src=" /images/icecream-testimonials/testimonials3-x1.png" alt="sd">
            </picture>
            <div class="customer-review-slider__wrapper">
                <p class="customer-review-slider__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sed sapiente, ad aliquam quisquam aspernatur culpa dicta. Neque aliquid asperiores officiis eos quos voluptates optio rerum, laboriosam, soluta fugiat facilis?</p>
            
            </div>
            <div class="customer-review-slider__name-city-wrapper">
                <p class="customer-review-slider__name-city">
                    Khristafarida, Dominican Republic

                </p>
            </div>
        </li>
    </ul>

</section>
