<footer class="footer">
    <div class="container footer-container">
        <div class="footer__title">
            homemade ice cream made<span class="footer__slogan">with passion</span>
        </div>
        <div class="footer__contact-container">
            <ul class="list footer__socials-list">
                <li>
                    <a href="" class="link footer__socials-link">
                        <svg class="footer__socials-icon" width="19" height="19">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="link footer__socials-link">
                        <svg class="footer__socials-icon" width="19" height="15">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="" class="link footer__socials-link">
                        <svg class="footer__socials-icon" width="9" height="19">
                            <use href="./images/icons.svg#icon-facebook-1"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="footer__tel">
                Feel free to contact
                <a href="tel:+610383766284" class="link footer__tel-link">+61 (0) 383 766 284</a>
            </div>
        </div>
    </div>
    <div class="footer__copyright-container">
        <p class="footer__copyright">© 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>