<section class="gallery">
<div class="container gallery__container">
    <div class="gallery__item-1">
    <img src="./images/gallery__images/Pic01.png" alt="green-tea"></div>
    <div class="gallery__item-2"><img src="./images/gallery__images/Pic02.png" alt="yellow">
        <img src= "./images/gallery__images/Pic03.png" alt="berries"></div>
    <div class="gallery__item-3"><img src="./images/gallery__images/Pic04.png" alt="cones">
        <img src="./images/gallery__images/Pic05.png" alt="girl"></div>
    <div class="gallery__item-4"><img src="./images/gallery__images/Pic06.png" alt="hand"> 
        <img src="./images/gallery__images/Pic07.png" alt="star"></div>
    <div class="gallery__item-5"><img src="./images/gallery__images/Pic08.png" alt="dog"> 
        <img src="./images/gallery__images/Pic09.png" alt="chocolate"></div>
    <div class="gallery__item-6"><img src="./images/gallery__images/Pic10.png" alt="jar"></div>
</div>
</section>