<section class="gallery">
    <div class="container gallery__container">
        <div class="gallery__item-1">
            <div class="gallery__item__img">
                <img src="./images/gallery__images/Pic01_2x.png" alt="green-tea">    
            </div>
        </div>
        <div class="gallery__item-2"> 
            <div class="gallery__item__img">
                <img src="./images/gallery__images/Pic02_2x.png" alt="yellow">
            </div>
            <div class="gallery__item__img">
                <img src="./images/gallery__images/Pic03_2x.png" alt="berries">
            </div>
        </div>
        <div class="gallery__item-3">
            <div class="gallery__item__img">
                <img src="./images/gallery__images/Pic04_2x.png" alt="cones">
            </div>
            <div class="gallery__item__img gallery__item-3-2">
                <img src="./images/gallery__images/Pic05_2x.png" alt="girl">
            </div>
        </div>
        <div class="gallery__item-4">
            <div class="gallery__item__img">
                <img src="./images/gallery__images/Pic06_2x.png" alt="hand">
            </div>
            <div class="gallery__item__img">
                <img src="./images/gallery__images/Pic07_2x.png" alt="star">
            </div>
        </div>
        <div class="gallery__item-5">
            <div class="gallery__item__img">
                <img src="./images/gallery__images/Pic08_2x.png" alt="dog">
            </div> 
            <div class="gallery__item__img">        
                <img src="./images/gallery__images/Pic09_2x.png" alt="chocolate">
            </div>
        </div>
        <div class="gallery__item-6">
            <div class="gallery__item__img">
                <img src="./images/gallery__images/Pic10_2x.png" alt="jar">
            </div>
        </div>
    </div>
</section>