<section class="gallery">
<div class="container gallery__container">
    <div class="gallery__item-1">
        <div class="gallery__item__img">
            <picture> 
                <source
                srcset="./images/gallery__images/Pic01.png 1x, 
                ./images/gallery__images/Pic01_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic01_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic01_mob.png 1x"
                
                media="(min-width: 320px)">
            
            <img src="./images/gallery__images/Pic01.png" alt="green-tea">
        </picture>
        </div>
    </div>
    <div class="gallery__item-2"> 
        <div class="gallery__item__img">
            <picture> 
                <source
                srcset="./images/gallery__images/Pic02.png 1x, 
                ./images/gallery__images/Pic02_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic02_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic02_mob.png 1x"
                
                media="(min-width: 320px)">
            <img src="./images/gallery__images/Pic02_2x.png" alt="yellow">
            </picture>
        </div>
        <div class="gallery__item__img">
            <picture> 
                <source
                srcset="./images/gallery__images/Pic03.png 1x, 
                ./images/gallery__images/Pic03_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic03_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic03_mob.png 1x"
                
                media="(min-width: 320px)">
            <img src="./images/gallery__images/Pic03_2x.png" alt="berries">
            </picture>
        </div>
    </div>
    <div class="gallery__item-3">
        <div class="gallery__item__img">
            <picture> 
                <source
                srcset="./images/gallery__images/Pic04.png 1x, 
                ./images/gallery__images/Pic04_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic04_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic04_mob.png 1x"
                
                media="(min-width: 320px)">
            <img src="./images/gallery__images/Pic04_2x.png" alt="cones">
            </picture>
        </div>
        <div class="gallery__item__img">
            <picture> 
                <source
                srcset="./images/gallery__images/Pic05.png 1x, 
                ./images/gallery__images/Pic05_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic05_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic05_mob.png 1x"
                
                media="(min-width: 320px)">
            <img src="./images/gallery__images/Pic05_2x.png" alt="girl">
            </picture>
        </div>
    </div>
    <div class="gallery__item-4">
        <div class="gallery__item__img">
            <picture> 
                <source
                srcset="./images/gallery__images/Pic06.png 1x, 
                ./images/gallery__images/Pic06_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic06_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic06_mob.png"
                
                media="(min-width: 320px)">
            <img src="./images/gallery__images/Pic06_2x.png" alt="hand">
            </picture>
        </div>
        <div class="gallery__item__img">
            <picture> 
                <source
                srcset="./images/gallery__images/Pic07.png 1x, 
                ./images/gallery__images/Pic07_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic07_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic07_mob.png"
                
                media="(min-width: 320px)">
            <img src="./images/gallery__images/Pic07_2x.png" alt="star">
            </picture>
        </div>
    </div>
    <div class="gallery__item-5">
        <div class="gallery__item__img">
            <picture> 
                <source
                srcset="./images/gallery__images/Pic08.png 1x, 
                ./images/gallery__images/Pic08_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic08_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic08_mob.png 1x"
                
                media="(min-width: 320px)">
            <img src="./images/gallery__images/Pic08_2x.png" alt="dog">
            </picture>
        </div> 
        <div class="gallery__item__img">        
            <picture> 
                <source
                srcset="./images/gallery__images/Pic09.png 1x, 
                ./images/gallery__images/Pic09_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic09_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic09_mob.png 1x"
                
                media="(min-width: 320px)">
            <img src="./images/gallery__images/Pic09_2x.png" alt="chocolate">
            </picture>
        </div>
    </div>
    <div class="gallery__item-6">
        <div class="gallery__item__img">
            <picture> 
                <source
                srcset="./images/gallery__images/Pic10.png 1x, 
                ./images/gallery__images/Pic10_2x.png 2x"
                media="(min-width: 1200px)">

                <source
                srcset="./images/gallery__images/Pic10_tab.png"
                media="(min-width: 768px)">

                <source srcset="./images/gallery__images/Pic10_mob.png 1x"
                
                media="(min-width: 320px)">
            <img src="./images/gallery__images/Pic10_2x.png" alt="jar">
            </picture>
        </div>
    </div>
</div>
</section>