
<header class="header">
    
    <div class="header__container container">

        <a href="">
            <img class="header-logo" src="images/logo-icecream.svg" alt="" href="">
        </a>    

        <button type="button" class="menu-toggle js-open-menu icon-menu" aria-expanded="false" aria-label="mobil-menu">
            <svg width="20" height="12">
                <use href="images/icons.svg#icon-menu-svg"></use>
            </svg>
        </button>

        <div class="header-button">
            <button type="button" class="btn-buy-tablet">Buy now
                <svg class="btn-buy-svg" width="4.68" height="8">
                        <use href="images/icons.svg#icon-btn-buy"></use>
                </svg>
            </button>
        </div>


    <div class="menu-container js-menu-container" id="mobil-menu">
            <button type="button" class="menu-toggle js-close-menu icon-menu-close">
                <svg width="20" height="12">
                    <use href="images/icons.svg#icon-close-svg"></use>
                </svg>
            </button>


        <button type="button" class="btn-buy">Buy now
            <svg class="btn-buy-svg" width="4.68" height="8">
                <use href="images/icons.svg#icon-btn-buy"></use>
            </svg>
        </button>


        <nav class="header-nav">
            <ul class="header-nav__list">
                 <li class="header-nav__item"> <a href="" class="header-nav__link">Home</a></li>
                 <li class="header-nav__item"> <a href="" class="header-nav__link">About us</a></li>
                 <li class="header-nav__item"> <a href="" class="header-nav__link">How it’s made?</a></li>
                 <li class="header-nav__item"> <a href="" class="header-nav__link">Our products</a></li>
                 <li class="header-nav__item"> <a href="" class="header-nav__link">Contact</a></li>
            </ul>
        </nav>
    </div>

    </div>
</header>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>
<script defer src="js/mobile-menu.js"></script>




